apiVersion: v1
kind: Pod
metadata:
  name: blazor-app
  labels:
    name: blazor-app
spec:
  containers:
  - name: blazor-app
    image: thisisrasel/my-blazor-app:latest
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
    ports:
      - containerPort: 80
---
apiVersion: v1
kind: blazor-app-service
metadata:
  name: blazor-app
spec:
  selector:
    app: blazor-app
  ports:
  - port: 4000
    targetPort: 80
